

#track-item {
    backdrop-filter: blur(20px);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgb(0, 0, 0);
}

#main-header {
    backdrop-filter: blur(20px);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.3);
    
}